tr.tablitaList:nth-child(even) {
    background-color: #97d1da;
    color: white;
}
td.marca,
td.idPro {
    font-family: "roboto";
    font-size: 20px;
    text-align: center;
    
}
td.marca{
    font-family: "caveat";
    font-size: 30px;
    
}
